# Default ignored files
/shelf/
/workspace.xml

# Compiled class files
*.class

# IntelliJ IDEA files
.idea/
*.iml

# IDX files
.idx/dev.nix

# Log files and temporary files
*.log
*.log.*
*.tmp
*.temp
